@model WebApplication1.Models.Marca

<div class="row">
    <div class="col-8">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-12" })
        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control col-12" } })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>
</div>
