@model WebApplication1.Models.Usuario

@{
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar</h2>


@*CARREGA DA VIEW PARCIAL*@

@Html.Partial("_FrmUsuario")



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
