@model WebApplication1.Models.Cliente

@{
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar</h2>

@Html.Partial("_FrmCliente")



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
